/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  /* negates default margins and paddings of some elements, like an h1 */
  margin: 0;
  padding: 0;

  /* width and height specifications now include any paddings or borders */
  box-sizing: border-box;
}

body {
  /* font styling for child elements to inherit */
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* 1.7x bigger than pre-defined line height */
  line-height: 1.7;
  color: #777;
  /* applies padding around entire body */
  padding: 30px;
}

.header {
  /* sets to 95% of the viewport height */
  height: 95vh;
  /* gradient goes before img to layer on top */
  background-image: 
    linear-gradient(
      to right bottom, 
      rgba(126, 213, 111, 0.8), 
      rgba(40, 180, 133, 0.8)), 
    url(../img/hero.jpg);
  /* fits bg image to width of element; stretches img if necessary */
  background-size: cover;
  /* keeps top-center of img aligned with top-center of viewport; top is never cropped*/
  background-position: top;

  /* need to set to relative so that 'position: absolute' in children will allow positioning relative to parent */
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
  /* when set to absolute and parent set to relative, positioning properties (top, left, etc.) refer to distance of sides of parent element. If parent is not set to relative, positioning properties will refer to body */
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  /* width will automatically scale proportionally */
  height: 35px; 
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  /* positions in relation to self; moves left 50% of div width from left side, moves up 40% of div height from top*/
  transform: translate(-50%, -50%); 
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;
}