/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  /* negates default margins and paddings of some elements, like an h1 */
  margin: 0;
  padding: 0;

  /* width and height specifications now include any paddings or borders */
  box-sizing: border-box;
}

/* root setting */
html {

  /* technique: setting to 10px makes it easy to calculate px from rem */

  font-size: 10px;
}

body {
  /* font styling for child elements to inherit */
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  /* 1.7x bigger than pre-defined line height */
  line-height: 1.7;
  color: #777;
  /* applies padding around entire body */
  padding: 30px;
}

.header {
  /* sets to 95% of the viewport height */
  height: 95vh;
  /* gradient goes before img to layer on top */
  background-image: 
    linear-gradient(
      to right bottom, 
      rgba(126, 213, 111, 0.8), 
      rgba(40, 180, 133, 0.8)), 
    url(../img/hero.jpg);
  /* fits bg image to width of element; stretches img if necessary */
  background-size: cover;
  /* keeps top-center of img aligned with top-center of viewport; top is never cropped*/
  background-position: top;

  /* need to set to relative so that 'position: absolute' in children will allow positioning relative to parent */
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
  /* when set to absolute and parent set to relative, positioning properties (top, left, etc.) refer to distance of sides of parent element. If parent is not set to relative, positioning properties will refer to body */
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  /* width will automatically scale proportionally */
  height: 35px; 
}

/* just an example of applying animations elsewhere than h1 */
/* not working correctly... */
/* .logo-box:hover {
  animation: moveInRight 1s ease-out; 
} */

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  /* positions in relation to self; moves left 50% of div width from left side, moves up 40% of div height from top*/
  transform: translate(-50%, -50%); 

  /* centers .btn link */
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;

  /* 'hack' that supposedly eliminates minute 'shake' of animation towards its end */
  /* note: this may be unecessary; no visible shake in my brower viewing */
  backface-visibility: hidden;

  margin-bottom: 60px;
}

/* just a test */
/* .heading-primary:hover {
  animation: moveInRight 1s ease-out; 
} */

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;

  /* applies animation specified in @keyframes list of same name */
  /* animation shorthand groups all 3 of the below together */
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;

  /* number of animation play times */
  /* animation-iteration-count: 3; */

  /* delay before triggering animation */
  /* animation-delay: 3s; */
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;

  /* shorthand for all three animation- properties in .heading-primary-main */
  /* @keyframes list, duration, timing function */
  /* occurs at page load */
  animation: moveInRight 1s ease-out;
}
/* need to name keyframes list */
@keyframes moveInLeft {
  /* can specify any percentage position of point in duration */
  0% {
    opacity: 0;
    transform: translate(-100px)
  }

  80% {
    transform: translate(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* see comments for above */
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(100px)
  }

  80% {
    transform: translate(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px)
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}


/* pseudo-class; special state of .btn selector */ 
/* below are both location pseudo classes */
/* :link styles a link that hasn't been interacted with; :visited styles ones that have been clicked  */
/* can use :any-link to style both :link and :visited */
/* styling :link and :visited together make links look the same before and after clicks */
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;

  /* using this property allows the box model to work on this element (as it does automatically for block elements, not inline elements */
  /* element no longer overlaps with above h1 */
  display: inline-block;

  border-radius: 100px;

  /* individual properties can be specified */
  /* must be applied to initial state */
  transition: all .2s;

  /* for positioning of .btn::after pseudo-element */
  position: relative;
  
}

/* psuedo-class for when mouse hovers over link */
.btn:hover {
  /* moves element up 3px */
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 7px rgba(0, 0, 0, .2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

/* pseudo-element */

.btn::after {
  /* pseudo-elements need content specified */
  content: "";
  display: inline-block;
  /* because pseudo-elements are treated like children, below refers to .btn size */
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute; 
  top: 0;
  left: 0;
  z-index: -1;

  /* initial state gets transition property */
  transition: all .4s;
}

.btn-white::after {
  background-color:#fff;
}


.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6); 
  
  /* sets to invisible */
  opacity: 0;
} 

/* applied only to header button */
.btn-animated {
  /* @keyframes list reference */
  animation: moveInBottom .5s ease-out .4s;

  /* applies the styles at the 0% position of specified @keyframes list to element at start of animation; accomodates for delay of animation */
  animation-fill-mode: backwards;
}