@mixin clearfix {
  &::after {
    // 'clearfix' method for clearing floats
    // content needs to be specified for element to be part of DOM, but we don't want to see anything
    content: "";
    display: table;
    clear: both;
  }
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  /* positions in relation to self; moves left 50% of div width from left side, moves up 50% of div height from top*/
  transform: translate(-50%, -50% );
}

// jonas' mixin created after mine
// @mixin absCenter {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50% );
// }