$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-dark:#777;
$color-white: #fff;
$color-black: #000;


/* the universal selector by itself does not include pseudo-elements */
*,
*::after,
*::before {
  /* negates default margins and paddings of some elements, like an h1 */
  margin: 0;
  padding: 0;

  /* all child elements will inherit this from body, where actual value is set */
  box-sizing: inherit;
}

/* root setting */
html {

  /* browser default font-size is 16px; 62.5% of 16 is 10 */
  /* technique: setting root font to 10px makes it easy to mentally convert px to/from rem */

  font-size: 62.5%;
}

body {
  /* font styling for child elements to inherit */
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  /* 1.7x bigger than pre-defined line height */
  line-height: 1.7;
  color:$color-grey-dark;
  /* applies padding around entire body */
  padding: 3rem;

  /* width and height specifications now include any paddings or borders */
  box-sizing: border-box;
}

.header {
  /* sets to 95% of the viewport height */
  height: 95vh;
  /* gradient goes before img to layer on top */
  background-image: 
    linear-gradient(
      to right bottom, 
      /* note that below, putting a hex value in an rgba function, does not work in regular css */
      rgba($color-primary-light, 0.8), 
      rgba($color-primary-dark, 0.8)), 
    url(../img/hero.jpg);
  /* fits bg image to width of element; stretches img if necessary */
  background-size: cover;
  /* keeps top-center of img aligned with top-center of viewport; top is never cropped*/
  background-position: top;

  /* need to set to relative so that 'position: absolute' in children will allow positioning relative to parent */
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  &__logo-box {
    /* when set to absolute and parent set to relative, positioning properties (top, left, etc.) refer to distance of sides of parent element. If parent is not set to relative, positioning properties will refer to body */
    position: absolute;
    top: 4rem;
    left: 4rem;  
  }

  &__logo {
    /* width will automatically scale proportionally */
    height: 3.5rem; 
  }
  
  /* just an example of applying animations elsewhere than h1 */
  /* not working correctly... */
  /* .logo-box:hover {
    animation: moveInRight 1s ease-out; 
  } */
  
  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    /* positions in relation to self; moves left 50% of div width from left side, moves up 40% of div height from top*/
    transform: translate(-50%, -50%); 
  
    /* centers .btn link */
    text-align: center;
  }
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  /* 'hack' that supposedly eliminates minute 'shake' of animation towards its end */
  /* note: this may be unecessary; no visible shake in my brower viewing */
  backface-visibility: hidden;

  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
  
    /* applies animation specified in @keyframes list of same name */
    /* animation shorthand groups all 3 of the below together */
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  
    /* number of animation play times */
    /* animation-iteration-count: 3; */
  
    /* delay before triggering animation */
    /* animation-delay: 3s; */
  }
  
  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
  
    /* shorthand for all three animation- properties in .heading-primary-main */
    /* @keyframes list, duration, timing function */
    /* occurs at page load */
    animation: moveInRight 1s ease-out;
  }
}

/* just a test */
/* .heading-primary:hover {
  animation: moveInRight 1s ease-out; 
} */


/* need to name keyframes list */
@keyframes moveInLeft {
  /* can specify any percentage position of point in duration */
  0% {
    opacity: 0;
    transform: translate(-10rem)
  }

  80% {
    transform: translate(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* see comments for above */
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translate(10rem)
  }

  80% {
    transform: translate(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem)
  }

   100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn {
  /* pseudo-class; special state of .btn selector */ 
  /* below are both location pseudo classes */
  /* :link styles a link that hasn't been interacted with; :visited styles ones that have been clicked  */
  /* can use :any-link to style both :link and :visited */
  /* styling :link and :visited together make links look the same before and after clicks */
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;

    /* using this property allows the box model to work on this element (as it does automatically for block elements, not inline elements */
    /* element no longer overlaps with above h1 */
    display: inline-block;

    border-radius: 10rem;

    /* individual properties can be specified */
    /* must be applied to initial state */
    transition: all .2s;

    /* for positioning of .btn::after pseudo-element */
    position: relative;
    font-size: 1.6rem;
  }

  /* psuedo-class for when mouse hovers over link */
  &:hover {
    /* moves element up 3px (1rem == 10px) */
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black, .2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6); 
      
      /* sets to invisible */
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    /* again, note */
    box-shadow: 0 .5rem .7rem rgba($color-black, .2);
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;
    
    &::after {
      background-color:$color-white;
    }
  }

  /* pseudo-element */

  &::after {
    /* pseudo-elements need content specified */
    content: "";
    display: inline-block;
    /* because pseudo-elements are treated like children, below refers to .btn size */
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute; 
    top: 0;
    left: 0;
    z-index: -1;

    /* initial state gets transition property */
    transition: all .4s;
  } 

  /* applied only to header button */
  &--animated {
    /* @keyframes list reference */
    animation: moveInBottom .5s ease-out .4s;

    /* applies the styles at the 0% position of specified @keyframes list to element at start of animation; accomodates for delay of animation */
    animation-fill-mode: backwards;
  }
}