.row {
  // 1140px - current (2017) screen width setting convention
  max-width: $grid-width;
  
  // standard method for centering block elements inside other block elements
  margin: 0 auto;
  

  &:not(:last-child){
    // these properties are applied to all class 'row' elements EXCEPT for :last-child
    margin-bottom: $gutter-vertical;

    @include respond(tab-port){
      margin-bottom: $gutter-vertical-small;
    }
  }

  // referencing a mixin for clearfix hack  
  @include clearfix;

  [class^="col-"] {
    
    float: left;

    &:not(:last-child) {
      // only the right-most column does not get a gutter margin
      margin-right: $gutter-horizontal;

      @include respond(tab-port){
        margin-right: 0;
      }
    }

    @include respond(tab-port){
      width: 100% !important;
    }
  }

  .col-1-of-2 {
    // variable has to be interpolated within calc function
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }

  .col-1-of-3 {
    width: calc((100% - #{$gutter-horizontal} * 2) / 3);
  }

  .col-2-of-3 {
    width: calc(2 * ((100% - #{$gutter-horizontal} * 2) / 3) + #{$gutter-horizontal});
  }

  .col-1-of-4 {
    width: calc((100% - #{$gutter-horizontal} * 3) / 4);
  }

  .col-2-of-4 {
    width: calc(2 * ((100% - #{$gutter-horizontal} * 3) / 4) + #{$gutter-horizontal});
  }

  .col-3-of-4 {
    width: calc(3 * ((100% - #{$gutter-horizontal} * 3) / 4) + #{$gutter-horizontal} * 2);
  }
}