.form {

  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    font-size: 1.5rem;
    
    // input placeholder texts don't automatically inherit the established font styles, so have to specify
    font-family: inherit;
    color: inherit;

    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($color-white, .5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;

      // removes default blue border and adds custom focus styling
    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, .1);
                    // width, style, color
      border-bottom: 3px solid $color-primary;
    }

    // styles for invalid focused elements
    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }

    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }
  }

  // for the animated label
  &__label {
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
  }
}