.form {

  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    font-size: 1.5rem;
    
    // input placeholder texts don't automatically inherit the established font styles, so have to specify
    font-family: inherit;
    color: inherit;

    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($color-white, .5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all .3s;

      // removes default blue border and adds custom focus styling
    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, .1);
                    // width, style, color
      border-bottom: 3px solid $color-primary;
    }

    // styles for invalid focused elements
    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }

    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }


  }

  // for the animated label
  &__label {
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    transition: all .3s;
  }

  &__input:placeholder-shown + &__label{
    // hides the element, but it remains on the page
    opacity: 0;
    // takes the element off the page
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__radio-group {
    // used instead of floats to set radio buttons side-by-side
    width: 49%;
    display: inline-block;
  }

  &__radio-label {
    font-size: $default-font-size;
    // makes the arrow look like a pointer when hovering over this element
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem;
  }

  // custom buttons made from CSS
  &__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid $color-primary;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;

    &::after {
      // remember there always has to be a content property set, even if it's nothing 
      content: "";
      display: block;
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-primary;
    }
  }
}