.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  background-color: $color-white;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  &__shape {
    width: 15rem;
    height: 15rem;
    // background-color: orangered;
    // needs to be floated for shape-outside to function
    float: left;

    // wraps text around a circular shape
    // element has to be floated and has to have defined dimenions
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);

    // makes the div a circle
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);

    transform: translateX(-3rem) skewX(12deg);
  }

  &__img {
    // will be 100% of the parent story__shape div
    height: 100%;
  }

  &__text {
    transform: skewX(12deg);
  }
}