/* the universal selector by itself does not include pseudo-elements */
*,
*::after,
*::before {
  /* negates default margins and paddings of some elements, like an h1 */
  margin: 0;
  padding: 0;

  /* all child elements will inherit this from body, where actual value is set */
  box-sizing: inherit;
}

/* root setting */
html {

  /* browser default font-size is 16px; 62.5% of 16 is 10 */
  /* technique: setting root font to 10px makes it easy to mentally convert px to/from rem */

  // this is not in _typography because it's more of a global sizing setting for what 1rem is
  font-size: 62.5%;

  // example of passing property values to mixins with @content
  // @include respond-phone {
  //   font-size: 50%;
  // }

  // note the order of the following mixins

  @include respond(tab-land) { // width < 1200px?
    // these percentages are relative to 16px
    font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25%; 
  }
  
  @include respond(tab-port) { // width < 900px?
    font-size: 50%; // 1rem = 8px, 8/16 = 50%;
  }

  // this is unecessary because the tab-port breakpoint also applies to the smaller phone size
  // @include respond(phone) {
  //   font-size: 50%;
  // }

  // this is a min-width property, so anything below this screen size won't have this font-size applied anyway, and therefore so can go last in this group
  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12, 12/16 = 75%;
  }
}

// note that there is a body selector in _typography, too
body {
  /* width and height specifications now include any paddings or borders */
  box-sizing: border-box;
}