.section-about {
  background-color: $color-primary-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  background-image: 
    linear-gradient(
      to right bottom, 
      /* note that below, putting a hex value in an rgba function, does not work in regular css */
      rgba($color-primary-light, 0.8), 
      rgba($color-primary-dark, 0.8)), 
    url(../img/nat-4.jpg);
  background-size: cover;

  transform: skewY(-7deg);

  margin-top: -10rem;

  // selects all direct children of section-features
  // i.e. all the feature-boxes
  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  background-color: $color-primary-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -9rem;
}